# FastQC archives
results/fastqc/*.zip

# Temporary files
*.tmp
*.log

# macOS
.DS_Store

# Python cache
__pycache__/
# Raw sequencing data
data/raw/*.fastq.gz

# Trimmed reads
data/trimmed/*.fastq.gz
# SPAdes temporary files
results/assembly/tmp/
results/assembly/corrected/
results/assembly/K*/
results/assembly/misc/
results/assembly/*.bin
results/assembly/*.seq
